@import '../../librares.global.less';
@import '../../alieses.less';
@import '../../styles.less';
@import './main.component.adaptive.less';

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  transition: 10s;
  transform: rotate(360deg);
  border: 1px solid red;
  box-shadow: 0 0 10px 2px black;
  text-align: center;
  margin: 30vh auto;
}